#log-bag{
	position:absolute;
	top:0px;
	right:40px;
	width: 45px;
    margin-top: 17px;
}

.HUGEBOX{
	margin-left:65px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#alert{
	padding: 20px;
    background-color: #f44336;
    color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#tb{
	padding:100px;
}


.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

#header-t{
	margin-left:10px;
	margin-top:10px;
	margin-bottom:8px;
}

.icon-container{
	margin-left:10px;
	margin-top:15px;
}

#ccc {
  width: 100%;
  margin-bottom:5px;
  margin-top:5px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#co_email, #co_name, #co_add {
  width: 100%;
  margin-bottom:5px;
  margin-top:5px;

  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}



.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

	
	